.footer {
  align-items: center;
  color: white;
  display: flex;
  font-size: 13px;
  height: 100px;
  width: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer__link {
  padding: 0px 20px 0px 30px;
}

@media only screen and (max-width: 600px) {
  .main {
    height: 450px;
  }

  .main__description--title {
    font-size: 30px;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}