body {
  margin: 0;
  font-family: 'Muli', sans-serif;
}

.header {
  align-items: center;
  background-color: #21c08b;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

.not-found {
  background-image: linear-gradient(#21c08b, #8f57fd);
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  padding: 0px 30px;
  min-height: calc(100vh - 200px); /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
}

.not-found__title {
  font-size: 75px;
  margin: 0px;
  animation-name: pulse;
  animation-duration: 1.5s;
}

@keyframes pulse {
  0% { 
    transform: scale(1); 
  }

  50% { 
    transform: scale(1.3); 
  }

  100% { 
    transform: scale(1); 
  }
}

.footer {
  align-items: center;
  background-color: #8f57fd;
  display: flex;
  height: 100px;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-bottom: 2px solid white;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

@media only screen and (max-width: 600px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}