// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Knewave&display=swap);
@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

// Font Variables
$theme-font: 'Open Sans', sans-serif;
$theme-font-2: 'Knewave', cursive;

// Color Variables
$gb-color: #141414;
$color-green: #95ca3e;
